crowd_nav/data/
data/
crowd_nav/configs/
.idea/
*.pyc 
*__pycache__*

# file from macos
.DS_Store

# python file
wxpusher.py
train1.py
train2.py
train3.py
train_curriculum1.py
test1.py
test2.py
test3.py
test4.py
test5.py

test_less_human.py
test_less_obs.py
test_more_human.py
test_more_obs.py
test.py
plot.py

baselines
Python-RVO2

global_om_images
local_om_images
local_om_images_new
local_om_images_new_cpy

trained_models